.App {
  text-align: center;
}

body {
  background: #1b1b1b;
}

header .landing-text h1 {
  font: 80px/1.1em 'cartograph_cfdemi_bold', sans-serif;
  color:#fff;
  text-align: left;
  display: inline-block;
  padding-top: 80px;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}